extends layout

block content
    div.content-wrapper.about
        div.about-card.card
            h1.about__title.subtitle О нас
            h2 Фокус на главном

            p.content__info
                | Есть две вещи, которые отличают нашу кофейню от других: атмосфера и качество кофе. Вот, например, небольшая подборка случайных отзывов с TripAdvisor о кофейне Coffee Talk:
            ul.reviews
                li.review__item | Очень приятный кофе, отличная атмсофера!

                li.review__item | Всегда важно, что кофе вкусный и приятный. Поэтому приходим снова и снова. Ну и конечно, уютно и тепло.

                li.review__item | Дизайн кофейни Coffee Talk вызывает восхищение: все продумано до мелочей, каждая вещь на своем месте. Ну и кофе.. великолепен!

            p.content__info
                | Большинство отзывов примерно об одном – гости Coffee Talk отмечают атмосферу и качество кофе. Цена, качество обслуживания, режим работы и так далее – тоже имеют значение, но не первостепенное.
            p.content__info (однако это у нас также на высоте! :) )
            h2 Атмосфера кофейни
            p.content__info
                |Coffee Talk
                |- это свободное пространство, где могут собираться и общаться хорошие, умные, творческие люди.Отличное место для свиданий, встреч с друзьями, отдыха после работы, знакомства с новыми интересными людьми.
            p.content__info Мы гордимся нашим интерьером, при его создании мы вдохновлялись аниме 90-х, пиксельной графикой и жанром музыки лоу-фай чиллхоп, кофейня насыщена элементами, которые создают особую атмосферу для наших гостей, сюда хочется возвращаться вновь и вновь.
            div.reserve__button
                a.reserve__button__link(href="/order") Заказать кофе


    div.top__button
        a.top__button__link(href="/about") наверх ↑