doctype html
html(lang="ru")

    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap', rel='stylesheet')
        link(rel="shortcut icon" href="/images/icon.jpg" type="image/jpg")

    body
        div.container
            header.header.content
                div.header__title
                    a.header__link(href="/")
                        h1.header__logo.logo Coffee talk

                nav.header__nav.nav
                    ul.nav__items
                        //li.nav__item(class=(name === "index" ? "nav__item--active" : ''))
                         //   a.nav__link(href="/") Home

                        li.nav__item(class=(name === "about" ? "nav__item--active" : ''))
                            a.nav__link(href="/about") О нас

                        li.nav__item(class=(name === "menu" ? "nav__item--active" : ''))
                            a.nav__link(href="/menu") Меню

                        li.nav__item(class=(name === "reserve" ? "nav__item--active" : ''))
                            a.nav__link(href="/order") Кофе с собой

                        li.nav__item(class=(name === "contacts" ? "nav__item--active" : ''))
                            a.nav__link(href="/contacts") Контакты

            main.content
                block content

        footer.footer
            p © 2020 coffee talk